@keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes scaleOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  .scale-in {
    animation: scaleIn 0.3s ease-in-out forwards;
  }
  
  .scale-out {
    animation: scaleOut 0.3s ease-in-out forwards;
  }
  